body {
  position: relative;
  padding: 0;
  margin: 0;
  --offset-delay: 0ms;
}
.mo-fire {
  position: relative;
}
.mo-fire svg {
  position: relative;
}
.flame {
  animation-name: flamefly;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0;
  transform-origin: 50% 50% 0;
  animation-delay: var(--offset-delay);
}
.flame.one {
  animation-delay: calc(var(--offset-delay) + 1s);
  animation-duration: 3s;
}
.flame.two {
  animation-duration: 5s;
  animation-delay: calc(var(--offset-delay) + 1s);
}

.flame-main {
  animation-name: flameWobble;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: var(--offset-delay);
}
.flame-main.one {
  animation-duration: 4s;
  animation-delay: calc(var(--offset-delay) + 1s);
}
.flame-main.two {
  animation-duration: 3s;
  animation-delay: calc(var(--offset-delay) + 2s);
}
.flame-main.three {
  animation-duration: 2.1s;
  animation-delay: calc(var(--offset-delay) + 3s);
}
.flame-main.four {
  animation-duration: 3.2s;
  animation-delay: calc(var(--offset-delay) + 4s);
}
.flame-main.five {
  animation-duration: 2.5s;
  animation-delay: calc(var(--offset-delay) + 5s);
}
@keyframes flameWobble {
  50% {
    transform: scale(1, 1.2) translate(0, -30px) rotate(-2deg);
  }
}
@keyframes flamefly {
  0% {
    transform: translate(0) rotate(180deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-20px, -100px) rotate(180deg);
    opacity: 0;
  }
}
